/* .side-crop { 
    max-width: 600px; 
    overflow: hidden; 
    text-indent: -340px;
}
.side-crop img { max-width: initial;}  */

.info-container {
    margin-top: 1.5em;
    display: flex;
    flex-direction:row;
    justify-content: center;
    font-family: 'Cantarell', sans-serif;
    max-height: 60vh;
}

.bio-container {
    width: 30px;
    /* display: flex;
    flex-direction: column; */
    height: fit-content;
}

.bio, .statement {
    /* margin-top: 30px; */
    text-align: left;
    max-width: 30vh;
}

.headline {
    float: left;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-around; */
}

.name {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.name h4 {
    margin-top: 30px;
}

.propic {
    clip-path: inset(12% 15% 2% 22%);
    height: 100%;
    width: auto;
}

.social-links {
    padding: 16px;
    display: flex;
    justify-content: space-evenly;
}

.social-links a{
    cursor: pointer;
}


.statement-container button {
    margin-top: 35px;
    margin-left: 80px;
    padding: 14px;
    font-family: 'Cantarell', sans-serif;
    font-size: 20px;
    background-color: white;
    font-weight: bolder;
    cursor: pointer;
    border-radius: 30px;
    border: 4px solid black;
}

.statement-container button:hover {

    background-color: black;
    color: white;
    
}