.nav-bar-container {
    /* border: solid black 1px; */
    display: flex;
    justify-content: space-evenly;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.167);
}

.search-bar {

    display: flex;
    height: 30px;
    justify-content: center;
    margin-top: 25px;
    border: solid 1px black;
}

.search-bar input {
    border-right: none;
    border: none;
    width: 30vw;

}

.search-bar button {
    background-color: white;
    border: none;
    border-left: solid black 1px;
    cursor: pointer;
}